---
import Header from '@layouts/Header.svelte';
import Translate from '@layouts/Translate.svelte';
import Atom_Timer from '@components/atoms/Timer.svelte';
import Atom_Pull from '@components/atoms/Pull.svelte';

// pull down props
let contents: string[] = ["svelte", "react", "vue"];

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Concierge</title>
  </head>

  <body>
    <Header client:load />
    <Translate client:load />
    <Atom_Timer client:load />
    <Atom_Pull client:load contents={contents} />

    <a href="/login">Login</a>
  </body>
</html>
