---
import Header from '../layouts/Header.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Concierge</title>
  </head>

  <body>
    <Header />
    <a href="/login">Login</a>
  </body>
</html>
