---
import Mole_LoginForm from '@components/organisms/LoginForm.svelte';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Concierge</title>
  </head>

  <body>
    <div>
      <h1>Login</h1>
      <Mole_LoginForm client:load username={"user"} password={"pass"} />
    </div>
  </body>
</html>
